* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 3rem;
    background-color: rgb(31, 26, 26);
    color: white;
}

.container {
    padding: 1rem;
    border: 0.1rem solid aqua;
    display: flex;
}

.box {
    height: 5rem;
    aspect-ratio: 1/1;
    border: 0.1rem solid white;
    margin: 0.5rem;
}

.bg-cyan {
    background-color: cyan;
}

.bg-aqua {
    background-color: aquamarine;
}