*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 60%;
}
body{
    background-color: rgba(0, 0, 0, 0.9);
    height: 100vh;
    flex-direction: column;
    padding: 100px 0px;
    
}
.heading{
    color: aqua;
    margin-block: 30px;
    font-size: 3rem;
    margin: 30px 0px 0px 70px;

}
#notes-container{
    color: white;
    padding: 50px;
    margin: 0px 50px;
    font-size: 3rem;
}
#notes-container li{
    margin-bottom: 10px;
}
.btn-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
button{
    padding: 10px 50px;
    border-radius: 4px;
    background-color: rgb(0, 194, 194);
    border: none;
    cursor: pointer;
    transition: 0.3s;
    color: black;
    font-weight: bold;
    font-size: 1.8rem;
    margin: 20px;
}
button:hover{
    transform: scale(1.05);
    background-color: rgb(2, 235, 235);

}